.EditableTitle {
  font-size: calc(20px + 2.5vmin);
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 0.3em;
}

.EditableTitle input {
  line-height: 0;
  font-weight: 500;
  width: 100%;
}
