.View-body {
  margin: 0 auto;
  padding: 2em;
  max-width: 1000px;
}

.View-header {
  display: flex;
}

.View-header button:last-child {
  margin-left: auto;
  margin-top: 20px;
}

@media (max-width: 750px) {
  .View-header button:last-child {
    margin-top: 10px;
  }
}

.View .hide {
  display: none;
}
