.View-body {
  margin: 0 auto;
  padding: 2em;
  max-width: 1000px;
}

.View-header {
  display: flex;
}

.View-header button:last-child {
  margin-left: auto;
}

.View-header h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.View-header p {
  font-size: calc(10px + 1vmin);
}

.View .hide {
  display: none;
}
