.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App h1 {
  font-size: calc(40px + 3vmin);
  margin-bottom: 0.3em;
}

.App p {
  font-size: 2vmin;
}

.App button {
  margin: 0 0.3em;
}
